body{
background:#000;

}
#area p{

text-align:justify;

float:right;

}
#area img{

padding:20px;
}
#color h5{
margin:0px;
float:right;
padding:10px;
}
#color img{

padding:10px;
float:left;
}
#color{

height:40px;
width:100%;
float:left;
background:#88BE46;
}
#area h1{
float:left;
}
#left p{
color:green;
margin:0px;
float:left;
text-align:center;
padding-left:30px;
}

#area{
float:left;
height:152px;
width:220px;
background:#8C8C87;
}
#header-wrapper h3{
float:left;
color:#ffffff;
}
#left h3{

margin:0px;
color:gray;
float:left;
}
#menu-2 ul li{

padding:5px;
}
#menu-2{

margin:0px;
float:left;
}
#menu-3 ul li{
list-style-type:none;
float:left;



}
#china h3{

float:left;
text-align:justify;
margin:0px;
padding:10px;
font-size:13px;
}
#CHINA h5{
float:left;

}
#china p{
float:left;

font-size:18px;
color:gray;

}
#china img{

float:left;

}
#menu-3{

height:50px;
width:459px;
background:#595959;
margin:0px;
float:left;
}
#menu-3 ul li a:hover{


color:#68B9E8;
background:#000063;
}
#menu-3 ul li a{
text-decoration:none;
color:#80B33C;
padding:5px 10px 10px 5px;
display:block;
}
#menu-2 ul li{

list-style-type:none;
}
#menu-2 ul li a{
text-decoration:none;
color:#493093;
}
#red{



height:100%;
width:700px;
background:#279B20;
margin:0 auto;
}
#first h6{

text-align:justify;
}
#first img{
padding:10px;
}
#menu-4 ul li a{


text-decoration:none;
font-size:15px;
color:#FF00FF;
}
#menu-4{

float:left;
margin:0px;
}
#first p{

margin:0px;
float:left;
}
#first{

width:170px;
height:260px;
background:#ffffff;
float:left;
}
#footer{

text-align:center;
color:#ffffff;
font-size:15px;
height:60px;
width:100%;
background:#88BE46;
}
#menu-4{
float:left;
margin-left:-20px;
}
#first{

margin:2px;
}
#china{

float:right;
height:500px;
width:459px;
background:#E8E8FF;
}
#last{

height:260px;
width:700px;
margin:0 auto;
background:#ffffff;
}
#nock{

height:300px;
width:100%;
background:#E8E8FF;
}
#monir{

height:500px;
width:100%;
background:#E8E8FF;
}
#clear{

clear:both;
width:100%;
}
#left{

float:left;
height:500px;
width:240px;
background:#E8E8FF;
}
#simple h6{

margin:0px;
}
#ff2 img{

padding-left:30px;
}
#simple{

float:left;
height:150px;
width:140px;
background:#FDFCF8;
}
#simple{

margin:15px;
}
#img4{


float:right;
padding:15px;
}
#tech{

width:700px;
height:auto;
margin:0 auto;
}
#form{


height:auto;
width:100%;
background:#FBFAF9;

}


#header-wrapper h4{

color:#ffffff;
float:left;
}
#top-area h1{
color:#ffffff;
margin:0px;
float:left;
font-size:20px;
font-weight:bold;
}
#our-top h2{

margin:0px;
}
#found h6{

margin:0px;
}
#ff3{


float:left;
}

#found{


margin:0 auto;
width:700px;
background:#FBFAF9;
height:150px;
}
#complex{


width:100%;
height:150px;
background:#FBFAF9;
}
#our-top p{
margin:0px;
float:right;
color:#04B4E9;
}
#our{
height:55px;
width:100%;
background:#FBFAF9;

}
#our-top{

height:100%;
width:700px;

margin:0 auto;
}
#menu{

float:right;
margin-top:-40px;
padding:0px;

}
#menu ul li{

border:2px solid#ffffff;
}
#menu ul li a:hover{

color:#ff00ff;
background:#0000FF;
border-radius:10px;
}
#menu ul{
margin:0px;
}
#menu ul li{
float:left;
list-style-type:none;

}
#menu ul li a{
display:block;
padding:10px 20px 20px 20px;
text-decoration:none;
}
#shaown{

height:50px;
width:100px;
background:#D9D9D9;

}
#rock2{


height:70px;
width:700px;
margin:0 auto;

}
#rock1{

height:80px;
width:100%;
background:#D9D9D9;
}

#top-area{

margin:0;
height:auto;
width:700px;

margin:0 auto;
}
#header-top{
float:left;

background:#F3F3F4;
height:70px;
width:100%;
margin:0px;
}

#wrapper{


height:auto;
width:1000px;
margin:0 auto;
}
#img2 img{
float:left;
padding:15px;

}
#header{


height:50px;
width:100%;
background:#87BE46;

}
#header-wrapper{


height:100%;
width:700px;
margin:0 auto;
background:#87BE46;

}
#img1{
float:left;
padding:15px;
}
@media only screen and(min-width:240px) and(max-width:320px){
#area p{

text-align:justify;

float:right;

}
#area img{

padding:20px;
}
#color h5{
margin:0px;
float:right;
padding:10px;
}
#color img{

padding:10px;
float:left;
}
#color{

height:40px;
width:100%;
float:left;
background:#88BE46;
}
#area h1{
float:left;
}
#left p{
color:green;
margin:0px;
float:left;
text-align:center;
padding-left:30px;
}

#area{
float:left;
height:152px;
width:220px;
background:#8C8C87;
}
#header-wrapper h3{
float:left;
color:#ffffff;
}
#left h3{

margin:0px;
color:gray;
float:left;
}
#menu-2 ul li{

padding:5px;
}
#menu-2{

margin:0px;
float:left;
}
#menu-3 ul li{
list-style-type:none;
float:left;



}
#china h3{

float:left;
text-align:justify;
margin:0px;
padding:10px;
font-size:13px;
}
#CHINA h5{
float:left;

}
#china p{
float:left;

font-size:18px;
color:gray;

}
#china img{

float:left;

}
#menu-3{

height:50px;
width:459px;
background:#595959;
margin:0px;
float:left;
}
#menu-3 ul li a:hover{


color:#68B9E8;
background:#000063;
}
#menu-3 ul li a{
text-decoration:none;
color:#80B33C;
padding:5px 10px 10px 5px;
display:block;
}
#menu-2 ul li{

list-style-type:none;
}
#menu-2 ul li a{
text-decoration:none;
color:#493093;
}
#red{



height:100%;
width:700px;
background:#279B20;
margin:0 auto;
}
#first h6{

text-align:justify;
}
#first img{
padding:10px;
}
#menu-4 ul li a{


text-decoration:none;
font-size:15px;
color:#FF00FF;
}
#menu-4{

float:left;
margin:0px;
}
#first p{

margin:0px;
float:left;
}
#first{

width:170px;
height:260px;
background:#ffffff;
float:left;
}
#footer{

text-align:center;
color:#ffffff;
font-size:15px;
height:60px;
width:100%;
background:#88BE46;
}
#menu-4{
float:left;
margin-left:-20px;
}
#first{

margin:2px;
}
#china{

float:right;
height:500px;
width:459px;
background:#E8E8FF;
}
#last{

height:260px;
width:700px;
margin:0 auto;
background:#ffffff;
}
#nock{

height:300px;
width:100%;
background:#E8E8FF;
}
#monir{

height:500px;
width:100%;
background:#E8E8FF;
}
#clear{

clear:both;
width:100%;
}
#left{

float:left;
height:500px;
width:240px;
background:#E8E8FF;
}
#simple h6{

margin:0px;
}
#ff2 img{

padding-left:30px;
}
#simple{

float:left;
height:150px;
width:140px;
background:#FDFCF8;
}
#simple{

margin:15px;
}
#img4{


float:right;
padding:15px;
}
#tech{

width:700px;
height:auto;
margin:0 auto;
}
#form{


height:auto;
width:100%;
background:#FBFAF9;

}


#header-wrapper h4{

color:#ffffff;
float:left;
}
#top-area h1{
color:#ffffff;
margin:0px;
float:left;
font-size:20px;
font-weight:bold;
}
#our-top h2{

margin:0px;
}
#found h6{

margin:0px;
}
#ff3{


float:left;
}

#found{


margin:0 auto;
width:700px;
background:#FBFAF9;
height:150px;
}
#complex{


width:100%;
height:150px;
background:#FBFAF9;
}
#our-top p{
margin:0px;
float:right;
color:#04B4E9;
}
#our{
height:55px;
width:100%;
background:#FBFAF9;

}
#our-top{

height:100%;
width:700px;

margin:0 auto;
}
#menu{

float:right;
margin-top:-40px;
padding:0px;

}
#menu ul li{

border:2px solid#ffffff;
}
#menu ul li a:hover{

color:#ff00ff;
background:#0000FF;
border-radius:10px;
}
#menu ul{
margin:0px;
}
#menu ul li{
float:left;
list-style-type:none;

}
#menu ul li a{
display:block;
padding:10px 20px 20px 20px;
text-decoration:none;
}
#shaown{

height:50px;
width:100px;
background:#D9D9D9;

}
#rock2{


height:70px;
width:700px;
margin:0 auto;

}
#rock1{

height:80px;
width:100%;
background:#D9D9D9;
}

#top-area{

margin:0;
height:auto;
width:700px;

margin:0 auto;
}
#header-top{
float:left;

background:#F3F3F4;
height:70px;
width:100%;
margin:0px;
}

#wrapper{


height:auto;
width:230px;
margin:0 auto;
}
#img2 img{
float:left;
padding:15px;

}
#header{


height:50px;
width:100%;
background:#87BE46;

}
#header-wrapper{


height:100%;
width:700px;
margin:0 auto;
background:#87BE46;

}
#img1{
float:left;
padding:15px;
}



}
@media only screen and(min-width:480px) and(max-width:767px){
#area p{

text-align:justify;

float:right;

}
#area img{

padding:20px;
}
#color h5{
margin:0px;
float:right;
padding:10px;
}
#color img{

padding:10px;
float:left;
}
#color{

height:40px;
width:100%;
float:left;
background:#88BE46;
}
#area h1{
float:left;
}
#left p{
color:green;
margin:0px;
float:left;
text-align:center;
padding-left:30px;
}

#area{
float:left;
height:152px;
width:220px;
background:#8C8C87;
}
#header-wrapper h3{
float:left;
color:#ffffff;
}
#left h3{

margin:0px;
color:gray;
float:left;
}
#menu-2 ul li{

padding:5px;
}
#menu-2{

margin:0px;
float:left;
}
#menu-3 ul li{
list-style-type:none;
float:left;



}
#china h3{

float:left;
text-align:justify;
margin:0px;
padding:10px;
font-size:13px;
}
#CHINA h5{
float:left;

}
#china p{
float:left;

font-size:18px;
color:gray;

}
#china img{

float:left;

}
#menu-3{

height:50px;
width:459px;
background:#595959;
margin:0px;
float:left;
}
#menu-3 ul li a:hover{


color:#68B9E8;
background:#000063;
}
#menu-3 ul li a{
text-decoration:none;
color:#80B33C;
padding:5px 10px 10px 5px;
display:block;
}
#menu-2 ul li{

list-style-type:none;
}
#menu-2 ul li a{
text-decoration:none;
color:#493093;
}
#red{



height:100%;
width:700px;
background:#279B20;
margin:0 auto;
}
#first h6{

text-align:justify;
}
#first img{
padding:10px;
}
#menu-4 ul li a{


text-decoration:none;
font-size:15px;
color:#FF00FF;
}
#menu-4{

float:left;
margin:0px;
}
#first p{

margin:0px;
float:left;
}
#first{

width:170px;
height:260px;
background:#ffffff;
float:left;
}
#footer{

text-align:center;
color:#ffffff;
font-size:15px;
height:60px;
width:100%;
background:#88BE46;
}
#menu-4{
float:left;
margin-left:-20px;
}
#first{

margin:2px;
}
#china{

float:right;
height:500px;
width:459px;
background:#E8E8FF;
}
#last{

height:260px;
width:700px;
margin:0 auto;
background:#ffffff;
}
#nock{

height:300px;
width:100%;
background:#E8E8FF;
}
#monir{

height:500px;
width:100%;
background:#E8E8FF;
}
#clear{

clear:both;
width:100%;
}
#left{

float:left;
height:500px;
width:240px;
background:#E8E8FF;
}
#simple h6{

margin:0px;
}
#ff2 img{

padding-left:30px;
}
#simple{

float:left;
height:150px;
width:140px;
background:#FDFCF8;
}
#simple{

margin:15px;
}
#img4{


float:right;
padding:15px;
}
#tech{

width:700px;
height:auto;
margin:0 auto;
}
#form{


height:auto;
width:100%;
background:#FBFAF9;

}


#header-wrapper h4{

color:#ffffff;
float:left;
}
#top-area h1{
color:#ffffff;
margin:0px;
float:left;
font-size:20px;
font-weight:bold;
}
#our-top h2{

margin:0px;
}
#found h6{

margin:0px;
}
#ff3{


float:left;
}

#found{


margin:0 auto;
width:700px;
background:#FBFAF9;
height:150px;
}
#complex{


width:100%;
height:150px;
background:#FBFAF9;
}
#our-top p{
margin:0px;
float:right;
color:#04B4E9;
}
#our{
height:55px;
width:100%;
background:#FBFAF9;

}
#our-top{

height:100%;
width:700px;

margin:0 auto;
}
#menu{

float:right;
margin-top:-40px;
padding:0px;

}
#menu ul li{

border:2px solid#ffffff;
}
#menu ul li a:hover{

color:#ff00ff;
background:#0000FF;
border-radius:10px;
}
#menu ul{
margin:0px;
}
#menu ul li{
float:left;
list-style-type:none;

}
#menu ul li a{
display:block;
padding:10px 20px 20px 20px;
text-decoration:none;
}
#shaown{

height:50px;
width:100px;
background:#D9D9D9;

}
#rock2{


height:70px;
width:700px;
margin:0 auto;

}
#rock1{

height:80px;
width:100%;
background:#D9D9D9;
}

#top-area{

margin:0;
height:auto;
width:700px;

margin:0 auto;
}
#header-top{
float:left;

background:#F3F3F4;
height:70px;
width:100%;
margin:0px;
}

#wrapper{


height:auto;
width:470px;
margin:0 auto;
}
#img2 img{
float:left;
padding:15px;

}
#header{


height:50px;
width:100%;
background:#87BE46;

}
#header-wrapper{


height:100%;
width:700px;
margin:0 auto;
background:#87BE46;

}
#img1{
float:left;
padding:15px;
}
}
@media only screen and(min-width:767px)and(max-width:960px){
#area p{

text-align:justify;

float:right;

}
#area img{

padding:20px;
}
#color h5{
margin:0px;
float:right;
padding:10px;
}
#color img{

padding:10px;
float:left;
}
#color{

height:40px;
width:100%;
float:left;
background:#88BE46;
}
#area h1{
float:left;
}
#left p{
color:green;
margin:0px;
float:left;
text-align:center;
padding-left:30px;
}

#area{
float:left;
height:152px;
width:220px;
background:#8C8C87;
}
#header-wrapper h3{
float:left;
color:#ffffff;
}
#left h3{

margin:0px;
color:gray;
float:left;
}
#menu-2 ul li{

padding:5px;
}
#menu-2{

margin:0px;
float:left;
}
#menu-3 ul li{
list-style-type:none;
float:left;



}
#china h3{

float:left;
text-align:justify;
margin:0px;
padding:10px;
font-size:13px;
}
#CHINA h5{
float:left;

}
#china p{
float:left;

font-size:18px;
color:gray;

}
#china img{

float:left;

}
#menu-3{

height:50px;
width:459px;
background:#595959;
margin:0px;
float:left;
}
#menu-3 ul li a:hover{


color:#68B9E8;
background:#000063;
}
#menu-3 ul li a{
text-decoration:none;
color:#80B33C;
padding:5px 10px 10px 5px;
display:block;
}
#menu-2 ul li{

list-style-type:none;
}
#menu-2 ul li a{
text-decoration:none;
color:#493093;
}
#red{



height:100%;
width:700px;
background:#279B20;
margin:0 auto;
}
#first h6{

text-align:justify;
}
#first img{
padding:10px;
}
#menu-4 ul li a{


text-decoration:none;
font-size:15px;
color:#FF00FF;
}
#menu-4{

float:left;
margin:0px;
}
#first p{

margin:0px;
float:left;
}
#first{

width:170px;
height:260px;
background:#ffffff;
float:left;
}
#footer{

text-align:center;
color:#ffffff;
font-size:15px;
height:60px;
width:100%;
background:#88BE46;
}
#menu-4{
float:left;
margin-left:-20px;
}
#first{

margin:2px;
}
#china{

float:right;
height:500px;
width:459px;
background:#E8E8FF;
}
#last{

height:260px;
width:700px;
margin:0 auto;
background:#ffffff;
}
#nock{

height:300px;
width:100%;
background:#E8E8FF;
}
#monir{

height:500px;
width:100%;
background:#E8E8FF;
}
#clear{

clear:both;
width:100%;
}
#left{

float:left;
height:500px;
width:240px;
background:#E8E8FF;
}
#simple h6{

margin:0px;
}
#ff2 img{

padding-left:30px;
}
#simple{

float:left;
height:150px;
width:140px;
background:#FDFCF8;
}
#simple{

margin:15px;
}
#img4{


float:right;
padding:15px;
}
#tech{

width:700px;
height:auto;
margin:0 auto;
}
#form{


height:auto;
width:100%;
background:#FBFAF9;

}


#header-wrapper h4{

color:#ffffff;
float:left;
}
#top-area h1{
color:#ffffff;
margin:0px;
float:left;
font-size:20px;
font-weight:bold;
}
#our-top h2{

margin:0px;
}
#found h6{

margin:0px;
}
#ff3{


float:left;
}

#found{


margin:0 auto;
width:700px;
background:#FBFAF9;
height:150px;
}
#complex{


width:100%;
height:150px;
background:#FBFAF9;
}
#our-top p{
margin:0px;
float:right;
color:#04B4E9;
}
#our{
height:55px;
width:100%;
background:#FBFAF9;

}
#our-top{

height:100%;
width:700px;

margin:0 auto;
}
#menu{

float:right;
margin-top:-40px;
padding:0px;

}
#menu ul li{

border:2px solid#ffffff;
}
#menu ul li a:hover{

color:#ff00ff;
background:#0000FF;
border-radius:10px;
}
#menu ul{
margin:0px;
}
#menu ul li{
float:left;
list-style-type:none;

}
#menu ul li a{
display:block;
padding:10px 20px 20px 20px;
text-decoration:none;
}
#shaown{

height:50px;
width:100px;
background:#D9D9D9;

}
#rock2{


height:70px;
width:700px;
margin:0 auto;

}
#rock1{

height:80px;
width:100%;
background:#D9D9D9;
}

#top-area{

margin:0;
height:auto;
width:700px;

margin:0 auto;
}
#header-top{
float:left;

background:#F3F3F4;
height:70px;
width:100%;
margin:0px;
}

#wrapper{


height:auto;
width:760px;
margin:0 auto;
}
#img2 img{
float:left;
padding:15px;

}
#header{


height:50px;
width:100%;
background:#87BE46;

}
#header-wrapper{


height:100%;
width:700px;
margin:0 auto;
background:#87BE46;

}
#img1{
float:left;
padding:15px;
}


}
@media only screen and(min-width:840px) and(max-width:1200px){
#area p{

text-align:justify;

float:right;

}
#area img{

padding:20px;
}
#color h5{
margin:0px;
float:right;
padding:10px;
}
#color img{

padding:10px;
float:left;
}
#color{

height:40px;
width:100%;
float:left;
background:#88BE46;
}
#area h1{
float:left;
}
#left p{
color:green;
margin:0px;
float:left;
text-align:center;
padding-left:30px;
}

#area{
float:left;
height:152px;
width:220px;
background:#8C8C87;
}
#header-wrapper h3{
float:left;
color:#ffffff;
}
#left h3{

margin:0px;
color:gray;
float:left;
}
#menu-2 ul li{

padding:5px;
}
#menu-2{

margin:0px;
float:left;
}
#menu-3 ul li{
list-style-type:none;
float:left;



}
#china h3{

float:left;
text-align:justify;
margin:0px;
padding:10px;
font-size:13px;
}
#CHINA h5{
float:left;

}
#china p{
float:left;

font-size:18px;
color:gray;

}
#china img{

float:left;

}
#menu-3{

height:50px;
width:459px;
background:#595959;
margin:0px;
float:left;
}
#menu-3 ul li a:hover{


color:#68B9E8;
background:#000063;
}
#menu-3 ul li a{
text-decoration:none;
color:#80B33C;
padding:5px 10px 10px 5px;
display:block;
}
#menu-2 ul li{

list-style-type:none;
}
#menu-2 ul li a{
text-decoration:none;
color:#493093;
}
#red{



height:100%;
width:700px;
background:#279B20;
margin:0 auto;
}
#first h6{

text-align:justify;
}
#first img{
padding:10px;
}
#menu-4 ul li a{


text-decoration:none;
font-size:15px;
color:#FF00FF;
}
#menu-4{

float:left;
margin:0px;
}
#first p{

margin:0px;
float:left;
}
#first{

width:170px;
height:260px;
background:#ffffff;
float:left;
}
#footer{

text-align:center;
color:#ffffff;
font-size:15px;
height:60px;
width:100%;
background:#88BE46;
}
#menu-4{
float:left;
margin-left:-20px;
}
#first{

margin:2px;
}
#china{

float:right;
height:500px;
width:459px;
background:#E8E8FF;
}
#last{

height:260px;
width:700px;
margin:0 auto;
background:#ffffff;
}
#nock{

height:300px;
width:100%;
background:#E8E8FF;
}
#monir{

height:500px;
width:100%;
background:#E8E8FF;
}
#clear{

clear:both;
width:100%;
}
#left{

float:left;
height:500px;
width:240px;
background:#E8E8FF;
}
#simple h6{

margin:0px;
}
#ff2 img{

padding-left:30px;
}
#simple{

float:left;
height:150px;
width:140px;
background:#FDFCF8;
}
#simple{

margin:15px;
}
#img4{


float:right;
padding:15px;
}
#tech{

width:700px;
height:auto;
margin:0 auto;
}
#form{


height:auto;
width:100%;
background:#FBFAF9;

}


#header-wrapper h4{

color:#ffffff;
float:left;
}
#top-area h1{
color:#ffffff;
margin:0px;
float:left;
font-size:20px;
font-weight:bold;
}
#our-top h2{

margin:0px;
}
#found h6{

margin:0px;
}
#ff3{


float:left;
}

#found{


margin:0 auto;
width:700px;
background:#FBFAF9;
height:150px;
}
#complex{


width:100%;
height:150px;
background:#FBFAF9;
}
#our-top p{
margin:0px;
float:right;
color:#04B4E9;
}
#our{
height:55px;
width:100%;
background:#FBFAF9;

}
#our-top{

height:100%;
width:700px;

margin:0 auto;
}
#menu{

float:right;
margin-top:-40px;
padding:0px;

}
#menu ul li{

border:2px solid#ffffff;
}
#menu ul li a:hover{

color:#ff00ff;
background:#0000FF;
border-radius:10px;
}
#menu ul{
margin:0px;
}
#menu ul li{
float:left;
list-style-type:none;

}
#menu ul li a{
display:block;
padding:10px 20px 20px 20px;
text-decoration:none;
}
#shaown{

height:50px;
width:100px;
background:#D9D9D9;

}
#rock2{


height:70px;
width:700px;
margin:0 auto;

}
#rock1{

height:80px;
width:100%;
background:#D9D9D9;
}

#top-area{

margin:0;
height:auto;
width:700px;

margin:0 auto;
}
#header-top{
float:left;

background:#F3F3F4;
height:70px;
width:100%;
margin:0px;
}

#wrapper{


height:auto;
width:830px;
margin:0 auto;
}
#img2 img{
float:left;
padding:15px;

}
#header{


height:50px;
width:100%;
background:#87BE46;

}
#header-wrapper{


height:100%;
width:700px;
margin:0 auto;
background:#87BE46;

}
#img1{
float:left;
padding:15px;
}
}
@media only screen and(max-width:768px){


#area p{

text-align:justify;

float:right;

}
#area img{

padding:20px;
}
#color h5{
margin:0px;
float:right;
padding:10px;
}
#color img{

padding:10px;
float:left;
}
#color{

height:40px;
width:100%;
float:left;
background:#88BE46;
}
#area h1{
float:left;
}
#left p{
color:green;
margin:0px;
float:left;
text-align:center;
padding-left:30px;
}

#area{
float:left;
height:152px;
width:220px;
background:#8C8C87;
}
#header-wrapper h3{
float:left;
color:#ffffff;
}
#left h3{

margin:0px;
color:gray;
float:left;
}
#menu-2 ul li{

padding:5px;
}
#menu-2{

margin:0px;
float:left;
}
#menu-3 ul li{
list-style-type:none;
float:left;



}
#china h3{

float:left;
text-align:justify;
margin:0px;
padding:10px;
font-size:13px;
}
#CHINA h5{
float:left;

}
#china p{
float:left;

font-size:18px;
color:gray;

}
#china img{

float:left;

}
#menu-3{

height:50px;
width:459px;
background:#595959;
margin:0px;
float:left;
}
#menu-3 ul li a:hover{


color:#68B9E8;
background:#000063;
}
#menu-3 ul li a{
text-decoration:none;
color:#80B33C;
padding:5px 10px 10px 5px;
display:block;
}
#menu-2 ul li{

list-style-type:none;
}
#menu-2 ul li a{
text-decoration:none;
color:#493093;
}
#red{



height:100%;
width:700px;
background:#279B20;
margin:0 auto;
}
#first h6{

text-align:justify;
}
#first img{
padding:10px;
}
#menu-4 ul li a{


text-decoration:none;
font-size:15px;
color:#FF00FF;
}
#menu-4{

float:left;
margin:0px;
}
#first p{

margin:0px;
float:left;
}
#first{

width:170px;
height:260px;
background:#ffffff;
float:left;
}
#footer{

text-align:center;
color:#ffffff;
font-size:15px;
height:60px;
width:100%;
background:#88BE46;
}
#menu-4{
float:left;
margin-left:-20px;
}
#first{

margin:2px;
}
#china{

float:right;
height:500px;
width:459px;
background:#E8E8FF;
}
#last{

height:260px;
width:700px;
margin:0 auto;
background:#ffffff;
}
#nock{

height:300px;
width:100%;
background:#E8E8FF;
}
#monir{

height:500px;
width:100%;
background:#E8E8FF;
}
#clear{

clear:both;
width:100%;
}
#left{

float:left;
height:500px;
width:240px;
background:#E8E8FF;
}
#simple h6{

margin:0px;
}
#ff2 img{

padding-left:30px;
}
#simple{

float:left;
height:150px;
width:140px;
background:#FDFCF8;
}
#simple{

margin:15px;
}
#img4{


float:right;
padding:15px;
}
#tech{

width:700px;
height:auto;
margin:0 auto;
}
#form{


height:auto;
width:100%;
background:#FBFAF9;

}


#header-wrapper h4{

color:#ffffff;
float:left;
}
#top-area h1{
color:#ffffff;
margin:0px;
float:left;
font-size:20px;
font-weight:bold;
}
#our-top h2{

margin:0px;
}
#found h6{

margin:0px;
}
#ff3{


float:left;
}

#found{


margin:0 auto;
width:700px;
background:#FBFAF9;
height:150px;
}
#complex{


width:100%;
height:150px;
background:#FBFAF9;
}
#our-top p{
margin:0px;
float:right;
color:#04B4E9;
}
#our{
height:55px;
width:100%;
background:#FBFAF9;

}
#our-top{

height:100%;
width:700px;

margin:0 auto;
}
#menu{

float:right;
margin-top:-40px;
padding:0px;

}
#menu ul li{

border:2px solid#ffffff;
}
#menu ul li a:hover{

color:#ff00ff;
background:#0000FF;
border-radius:10px;
}
#menu ul{
margin:0px;
}
#menu ul li{
float:left;
list-style-type:none;

}
#menu ul li a{
display:block;
padding:10px 20px 20px 20px;
text-decoration:none;
}
#shaown{

height:50px;
width:100px;
background:#D9D9D9;

}
#rock2{


height:70px;
width:700px;
margin:0 auto;

}
#rock1{

height:80px;
width:100%;
background:#D9D9D9;
}

#top-area{

margin:0;
height:auto;
width:700px;

margin:0 auto;
}
#header-top{
float:left;

background:#F3F3F4;
height:70px;
width:100%;
margin:0px;
}

#wrapper{


height:auto;
width:760px;
margin:0 auto;
}
#img2 img{
float:left;
padding:15px;

}
#header{


height:50px;
width:100%;
background:#87BE46;

}
#header-wrapper{


height:100%;
width:700px;
margin:0 auto;
background:#87BE46;

}
#img1{
float:left;
padding:15px;
}
}